.App {
  text-align: center;
}

.btn-no {
  padding: 10px 20px;
  background-color: darkred;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 2rem;
  margin-top: 20px;
  border: 1px darkred solid;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  /* position: absolute; */
  white-space: nowrap;
  transition: 0.3s;
}


.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image-container img {
  width: 15%;
  height: auto;
  object-fit: contain;
}

.valentine-message {
  font-size: 32px; 
  font-weight: bold; 
  color: #D81159;
  text-align: center; 
  padding: 20px;
  margin: 20px; 
  border-radius: 10px; 
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-yes {
  padding: 10px 20px;
  background-color: darkgreen;
  color: white;
  font-size: 5rem;
  letter-spacing: 2px;
  border-radius: 2rem;
  margin-top: 20px;
  margin-right: 10px;
  border: 1px darkgreen solid;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  /* position: absolute; */
  white-space: nowrap;
  transition: 0.3s;
}
